* {
    box-sizing: border-box;
    font-family: 'Noto Serif TC';
}
html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}

/* Boot up */
.open_block {
    width: 100vw;
    height: 100vh;
}
.open_nav {
    background-color: #0529A2;
    height: 80px;
}
.open-center-block {
    height: calc(100vh - 160px);
    background:radial-gradient(circle at left top,#dbe8ff 0%,#779DED 10%,#567BE3 20%);
    display: flex;
    align-items: center;
}
.open_left {
    position: relative;
    height: calc(100vh - 160px);
}
.open_left-text {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.open_left-text img {
    width: 200px;
    margin-left: 100px;
}
.open-right {
    display: flex;
    align-items: top;
}
.center_pick {
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    font-weight: 300;
    font-size: 20px;
}
.open-right img {
    border-radius: 3px;
    border: 1px solid #fff;
}
.open-right p {
    margin-bottom: 0;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}
/* --- boots footer --- */
.boot-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.boot-footer-btn {
    display: flex;
    align-items: top;
    width: 400px;
}
.boot-footer-btn img {
    width: 32px;
    height: 32px;
}
.boot-footer-btn p {
    color: rgb(255, 255, 255);
    font-weight: 100;
    padding-left: 10px;
    margin-bottom: 0;
}
.boot-footer-pick {
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 10px;
    line-height: 12px;
    margin-right: 100px;
}

/* main */
#root {
    display: none;
    background: url(/XP_image/XP.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.ghrTqL {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
    width: 150px;
    top: 50px;
    left: 15px;
}

/* thing */
.sc-kGXeez {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    padding-left: 20px;
}
.table_thing {
    margin-right: 20px;
}
.table_img_item {
    width: 35px;
}
.table_test {
    margin-bottom: 30px;
    text-shadow: black 0px 1px 1px;
}

.xp_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: -50% -50%;
}

.xp_item_1 {
    width: 100px;
    height: 300px;
    background-color: rgb(223, 128, 128);
}

/* botton window */
.botton_window {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 570px;
}
.window_title {
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(#4994E5 0%, #aed9ff 3%,#4994E5 10%,#005BD6  20%, #2B8BF7 98%);
    padding: 10px 8px;
}
.window_title img {
    border-radius: 5px;
    border: 1px #fff solid;
}
.window_title p {
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    text-shadow: hoff voff blur #000;
    padding-left: 12px;
}
.window_item {
    background-color: #fff;
}
/* --- left --- */
.left_block-item,.right_block-item {
    padding: 15px;
    padding-bottom: 0px;
}
.block_item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
hr {
    margin-top: 0;
}
.block_item img {
    width: 40px;
}
.item_pick {
    padding-left: 10px;
}
.item_pick h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.item_pick .eng_pick {
    font-size: 14px;
    color: #000;
}
.item_pick  p {
    font-size: 15px;
    color: rgb(150, 150, 150);
    margin-bottom: 0;
}
/* --- right --- */
.right_block-item {
    background-color: #D3E7FF;
}
.chinese_pick {
    color: #19347D;
}
.thin_pick {
    font-weight: 350 !important;
}
/* --- window footer --- */
.botton_window-footer {
    padding: 5px;
    padding-left: 300px;
    background: linear-gradient(0.25turn,#005BD6  0%, #2B8BF7 98%);
}
.outBtn {
    display: flex;
}
.out_btn  {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}
.out_btn img {
    padding-right: 5px;
}



/* windows */

/* IE */
.IE_windows {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px 5px 0px 0px;
    width: 900px;
    margin: 0 auto;
    border: 4px solid rgb(49, 101, 196);
    background-color: #fff;
    border-top: 0px;
}
.IE_navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 8px 18px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
}

.ie_nav_btn img {
    width: 10px;
    height: 10px;
}
.IE_google {
    width: 500px;
    margin: 0 auto;
}
.IE_google img {
    width: 100%;
}
/* --- Sub-item top --- */
.IE_sub,.sub_item_button,.search_address{
    background-color: #EDEAD9;
    background: linear-gradient(#ffffff 0px, #ebe7d5 3%, #EDEAD9 6%, #EDEAD9 10%, #EDEAD9 12%, #EDEAD9 15%, #EDEAD9 18%, #EDEAD9 20%, #EDEAD9 23%, #EDEAD9 38%, #EDEAD9 54%, #EDEAD9 86%, #e9e8e3 89%, #dfd9bf 92%, #dfd9bf 95%, #e9e8e3 98%);
    margin-bottom: 0;
}

.sub_item {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 0;
}
.sub_item button {
    padding: 0;
}
.sub_item .sub-pick{
    padding-right: 15px;
}
/* --- Sub-item button --- */
.sub_item-two {
    flex-direction:row;
    flex-wrap: wrap;
}
.sub_item-two,.item-block {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}
.item-block .sub-btn {
    display: flex;
    align-items: center;
    padding: 0px 5px;
}
.sub-btn .right {
    padding-right: 5px;
}
.sub-btn p {
    margin-bottom: 0;
}
.item-block {
    border-right: 1px rgb(185, 185, 185) solid;
    margin: 8px 0px;
}
.last-block {
    border-right: unset;
}
/* --- top search Address --- */
.search_address {
    display: flex;
    align-items: center;
}
.search_address p {
    margin-bottom: 0;
    padding: 5px 10px;
}
.search_address input {
    border: 1px solid #DCD9FF;
    width: 70%;
}
.search_btn {
    display: flex;
    align-items: center;
    padding: 3px 8px;
}
.search_btn img {
    width: 30px;
}
.search_btn p {
    font-size: 18px;
    padding: 0 4px;
}
/* --- google logo --- */
.google-block {
    position: relative;
    height: 50vh;
    overflow: scroll;
}
.IE_google {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.google-image {
    width: 300px;
    margin: 0 auto;
}
.IE_google img {
    width: 100%;
    margin-bottom: 10px;
}
.google-search input {
    position: absolute;
    width:  100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    border-radius: unset;
    border: 1px rgb(189, 189, 189) solid;
    box-shadow: 2px 2px 1px 0px #dddddd;
}
.extend {
    text-align: center;
}
.extend button {
    margin-top: 70px;
    border-radius: unset;
    background-color: rgb(235, 235, 235);
    font-size: 12px;
}

/* yahoo messaging */
.yahoo_messaging {
    display: none;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%,-50%);
    background-color: #F9F9F0;
    border-radius: 5px 5px 0px 0px;
}
/* nav */
.yahoo_nav {
    background: linear-gradient(#B297E1 0px, #7F4AD2 48%,#C793F5 98%);
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    padding: 10px 15px;
    padding-bottom: 5px;
}
.yahoo_nav h3 {
    margin-bottom: 0;
    font-size: 20px;
    text-shadow: 2px 2px 5px #704ba7;
}
.yahoo_navBtn button {
    font-size: 18px;
    padding: 0;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-weight: 300;
}
.yahoo_button {
    position: absolute;
    top: 0px;
    right: 10px;
}
.yahoo_nav_btn {
    padding: 0;
}
.yahoo_nav_btn img {
    width: 13px;
    height: 13px;
}
/* logo */
.yahoo_logo  {
    width: 200px;
    margin: 0 auto;
    padding-top: 40px;
}
.yahoo_logo img {
    width: 100%;
}
/* sign block */
.sign-block {
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}
.sign-input p{
    margin-bottom: 0;
    padding-bottom: 5px;
}
.sign-input input {
    width: 100%;
    border-radius: unset;
    border: 1px rgb(160, 160, 160) solid;
    margin-bottom: 2px;
}
.sign-checkbox {
    padding-top: 20px;
}
/* sign in */
.sign-box button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 55%;
    font-size: 15px;
    text-align: center;
    border: 1px solid rgb(187, 187, 187);
    background: linear-gradient(#F9E9FF 0px, #ffffff 10%, #E6C5FE 48%,#E6C5FE 98%);
}
/* forget password */
.forget-password  {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.forget-password button {
    text-align: left;
    font-size: 15px;
    padding-bottom: 0;
    padding-top: 0;
    color: #008FBD;
}

/* Notepad */
.notepad {
    display: none;
    position: absolute;
    left: 50%;
    width: 50vw;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px 5px 0px 0px;
    border: 4px solid rgb(49, 101, 196);
    border-top: unset;
}
.notepad-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
}
.notepad_nav_btn {
    padding: 0;
}
.notepad_nav_btn img {
    width: 15px;
    margin-top: -6px;
}
.notepad-nav h3 {
    font-size: 15px;
    margin-bottom: 0;
}
.closeBtn {
    border-radius: 3px;
    background-color: #F7674A;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
}
.blueBtn {
    border-radius: 3px;
    background-color: #487AFF;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
}

/* sub */
.notepad-sub {
    background: linear-gradient(#ffffff 0px, #ebe7d5 3%, #EDEAD9 6%, #EDEAD9 10%, #EDEAD9 12%, #EDEAD9 15%, #EDEAD9 18%, #EDEAD9 20%, #EDEAD9 23%, #EDEAD9 38%, #EDEAD9 54%, #EDEAD9 86%, #e9e8e3 89%, #dfd9bf 92%, #dfd9bf 95%, #e9e8e3 98%);
}
.notepad-sub .sub_item {
    padding:  3px 10px;
}
/* textarea */
.notepad-text {
    background-color: #fff;
}
.notepad-text textarea {
    width: 100%;
    outline: none;
    border: unset;
}
.notepad-text textarea:hover{
    box-shadow: unset;
}
.text-pick {
    background-color: #EDEAD9;
}
.text-pick p {
    margin-bottom: 0;
    text-align: right;
   padding-right: 50px;
   font-size: 12px;
}

/* MyComputer */
.myComputer {
    display: none;
    position: absolute;
    left: 50%;
    width: 65vw;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px 5px 0px 0px;
    border: 4px solid rgb(49, 101, 196);
    border-top: unset;
}
.com_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
}
.Com_sub_item {
    background-color: #EDEAD9;
    background: linear-gradient(#ffffff 0px, #ebe7d5 3%, #EDEAD9 6%, #EDEAD9 10%, #EDEAD9 12%, #EDEAD9 15%, #EDEAD9 18%, #EDEAD9 20%, #EDEAD9 23%, #EDEAD9 38%, #EDEAD9 54%, #EDEAD9 86%, #e9e8e3 89%, #dfd9bf 92%, #dfd9bf 95%, #e9e8e3 98%);
}
.com_nav h3 {
    margin: 0;
    font-size: 15px;
}
.one-item {
    padding-right: 30px;
}
.item-block p {
    padding-left: 10px;
    padding-right: 10px;
}
.item-block .Com_select {
    width: 200px;
    margin-right: 10px;
}
.Com_button {
    height: 60vh;
    overflow: scroll;
    background-color: #677CE4;
} 
/* --- left-block --- */
.row {
    margin: 0;
}
.col-lg-12,.col-lg-7,.col-lg-4 {
    padding: 0;
}
.left-body {
    background-color: #677CE4;
}
.left_block {
    padding-top: 20px;
    background-color: #677CE4;
}
.left-block_item {
    border-radius: 10px;
    margin: 10px;
}
.left_title  {
    position: relative;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(0.25turn,#ffffff 0px,#ffffff 50%, #D2DBFE 100%);
}
.left_title button{
    color: #22488E;
    font-weight: 600;
    font-size: 18px;
    padding-top: 0;
}
.btn-link.focus, .btn-link:hover{
    text-decoration: none;
}
.btn-link.focus, .btn-link:focus{
    text-decoration: none;
}
.left_title img {
    border-radius: 100%;
    width: 28px;
    position: absolute;
    right: 10px;
    box-shadow: 2px 2px 7px rgb(175, 175, 175);
}
.left_body {
    background-color: #D4DBF9;
}
.left_body_ul {
    color: #22488E;
    list-style: none;
    padding: 10px 10px;
}
/* --- right-block --- */
.right_block {
    background-color: #fff;
}



/* footer */
.footer {
    z-index: 999;
    display: flex;
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0px;
    background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
}

.footer_item {
    align-items: center;
}

.footer_item.left {
    flex: 1 1 0%;
    height: 100%;
    overflow: hidden;
    display: flex;
}
.start-btn {
    padding: 0 !important;
}
.XP_start_img {
    width: auto;
    margin-right: 20px;
}

.footer_tab_item {
    position: relative;
    display: flex;
    /*幫助文字對齊*/
    flex: 1 1 0%;
    max-width: 150px;
    background-color: rgb(60, 129, 243);
    font-size: 11px;
    align-items: center;
    border-radius: 2px;
    padding: 0px 8px;
    margin-top: 2px;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;
    height: 22px;
}

.tabs_test {
    padding-left: 5px;
    text-overflow: ellipsis;
}

.footer_img_logo {
    width: 15px;
    height: 15px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 3px;
}

.footer_item.right {
    display: flex;
    overflow: hidden;
    width: auto;
    background: linear-gradient(rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%);
}

.footer_timer {
    font-size: 7px;
    margin-left: 8px;
    color: rgb(255, 255, 255);
    margin-right: 5px;
}